*{
    --HEADER-COLOR: VAR(--GUNMETAL-GREY);
}

.header-bar {
    display: flex;
    text-align: left;
    border: solid 1px var(--HEADER-COLOR);
    padding-left: 50px;
    background-color: var(--HEADER-COLOR);
    color: white;
}

.header-bar-text {
    width: 350px;
    min-width: 300px !important;
    text-decoration: none !important;
}

.header-bar-text:visited {
    color: inherit;
}

.header-title {
    margin: 0;
}