* {
    --SIDEBAR-COLOR: firebrick;
}

.LeftSidebar, .RightSidebar {
    min-height: calc(100vh - 125px);
    background-color: var(--SIDEBAR-COLOR);
}

.LeftSidebarGradient, .RightSidebarGradient {
    width: 40px;
}

.LeftSidebarGradient {
    background-image: linear-gradient(to right, var(--SIDEBAR-COLOR), white);
}

.RightSidebarGradient {
    background-image: linear-gradient(to left, var(--SIDEBAR-COLOR), white);
}

.sidebar-photo {
    width: 250px;
}