.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--GUNMETAL-GREY);
    font-size: 16px;
    display: flex;
}

.navbar-item {
    height: 50%;
    flex-grow: 1;
    text-align: center;
    align-self: center;
}

.navbar-link {
    text-decoration: none !important;
}

.navbar-link:link {
    color: white;
}

.navbar-link:visited {
    color: white;
}

.navbar-link:active {
    color: blueviolet;
}

.navbar-link:hover {
    color: blueviolet;
}