.navbar {
    display: flex;
    width: 100%;
    background-color: var(--GUNMETAL-GREY);
    font-size: 16px;
}

.navbar-item {
    display: flex;
    min-width: 75px;
    flex-grow: 1;
    justify-content: center; /*Horizontal align navbar-links*/
    align-self: center; /*Vertical align navbar-links*/
}

.navbar-link {
    text-decoration: none !important;
}

.navbar-link:link {
    color: white;
}

.navbar-link:visited {
    color: white;
}

.navbar-link:active {
    color: blueviolet;
}

.navbar-link:hover {
    color: blueviolet;
}