* {
    --PASTEL-BLUE: #31658c;
    --GUNMETAL-GREY: #2C3539;
    --LIGHT-ORANGE: #ff8a10;
    --ORANGE: #E76300;
}

.main-body {
    display: flex;
}

.body-content {
    width: 100%;
    padding-top: 25px;
    margin: 50px;
}

#di_model {
    width: 100%;
}